.App {
  text-align: center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  margin: 10px;
  width: 200px;
}

.movie img {
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

button {
  margin: 0 5px;
}
